<a href="https://orgsync.com/159520/chapter"><image src="https://firebasestorage.googleapis.com/v0/b/wai2018-1805c.appspot.com/o/5a42bdb1-db9b-4cb5-a8e6-04ec0bb7cbf7.jpg?alt=media&token=bd175dcd-d4f0-4a5f-b825-0acd75e7b5e8"></image></a>
<h1>Welcome to the Armada Server {{email}}</h1>
<table>
    <tr>
        <td>
            <p>Enter the code below into Discord, in the same channel you first sent the !verify on the Armada Server. Verification will timeout after 10 minutes from first entering the !verify command so hurry!.</p>
        </td>
    </tr>
    <tr>
        <td>
        <h2>Verification Code: {{code}}</h2>
        </td>
    </tr>
</table>