<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to the Armada Server!</title>
    <style media="screen">
        body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Eczargit , Helvetica, Arial, sans-serif; margin: 10px; padding: 10px; }
        .email-logo{
            width: 100%;
            padding: 0 !important;
            margin: 0 !important;
            object-fit: cover;
        }
        p{
            font-size: 18px;
        }
        h1{
            text-align: center;
        }
        h2{
            font-weight:bolder;
            font-size:18px;
            color: red;
            text-align: center;
        }
        .contact-us td{
            margin: 5px;
            padding: 5px;
            margin: 0 auto;
            text-align: center;
        }
        .contact-us img{
            height: 30px;
            width: 30px;
        }
        footer{
            text-align: center;
        }
    </style>
</head>
<body>
<header>
<a href="https://orgsync.com/159520/chapter">
    <image src="https://firebasestorage.googleapis.com/v0/b/wai2018-1805c.appspot.com/o/5a42bdb1-db9b-4cb5-a8e6-04ec0bb7cbf7.jpg?alt=media&token=bd175dcd-d4f0-4a5f-b825-0acd75e7b5e8" class="email-logo"></image>
</a>
</header>
<h1>Welcome to the Armada Server</h1>
<table>
    <tr>
        <td>
            <p>You are receiving this email because you wanted to verify your email {{userEmail}} on the discord bot!</p>
            <p>If you did not want to verify this email please contact us and we will figure out what went on!</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Enter the code below into Discord, in the same channel you first sent the !verify on the Armada Server. Verification will timeout after 10 minutes from first entering the !verify command so hurry!.</p>
        </td>
    </tr>
    <tr>
        <td>
        <h2>Verification Code: {{code}}</h2>
        </td>
    </tr>
    <tr class="contact-us">
        <td>
            <h1>Contact Us!</h1>
            <a href="https://discordapp.com/invite/MaJEEUQ">
                <img src="https://firebasestorage.googleapis.com/v0/b/wai2018-1805c.appspot.com/o/discord.png?alt=media&token=7d4626f7-a5a1-4d61-b4e1-a9d37c437101" alt="discord logo" class="contact-us" />
            </a>
            <a href="https://www.facebook.com/FullSailArmada/">
                <img src="https://firebasestorage.googleapis.com/v0/b/wai2018-1805c.appspot.com/o/fb.png?alt=media&token=5a03c43b-8487-4256-a76c-936c565bd2b1" class="contact-us" />
            </a>
            <a href="https://twitter.com/fullsailarmada">
                <img src="https://firebasestorage.googleapis.com/v0/b/wai2018-1805c.appspot.com/o/twitter.png?alt=media&token=7dee7ee2-5953-4277-9955-d4d2ee3ca8d9" alt="twitter" class="contact-us" />
        </a>
        </td>
    </tr>
</table>

<footer>
    <p>Full Sail Armada @ 2018</p>
</footer>
</body>
</html>